<%- include ("../partials/header") %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form  class="mt-5 border p-4 bg-light shadow" id="setForm">
                    <h2 class="mb-5 text-secondary text-center">Settings</h2>
                    <div class="row">
                        <h3>Change your name</h3>
                        <div class="mb-3 col-md-12">
                            
                            <input type="text" name="name" class="form-control" value="<%=user.name  %> ">
                        </div>
                        <div id="nameE"></div>
                        <h3>Change your password</h3>
                        <div class="mb-3 col-md-12">
                            <label></label>
                            <input type="password" name="oldPass" class="form-control" placeholder="old password">
                        </div>
                    
                        <div class="mb-3 col-md-12">
                            <input type="password" name="newPass1" class="form-control" placeholder="new password">
                        </div>
                        <div class="mb-3 col-md-12">
                            <input type="password" name="newPass2" class="form-control" placeholder="repeat new password">
                        </div>
                        <div id="passE"></div>
                        <div class="col-md-12">
                            <button class="btn btn-primary float-end">save</button>
                            <a href="/"class="btn btn-secondary  float-end">cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/settings.js"></script>
<%- include ("../partials/footer") %> 