body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    overflow: hidden;

    display: grid;
    grid-template: 5vh 95vh / 1fr 2fr;
}
#header{
    grid-column: 1 / span 2;
    
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    font-size: large;

    height: fit-content;
}
/* #stats{
    grid-column: 1 / span 2;
    background-color: #025dac;
    height: 15vh;

    color: white;

    display: flex;
    flex-direction: row;
}
#stats .display{
    height: 100%;
    display: flex;
    flex-direction: row;
}
#stats .display .value{
    height: 80%;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 3em;

    margin: auto;

    border: 5px solid #ffffff;
    border-radius: 50%;
}
#stats .display .value div{
    height: 60%;
    aspect-ratio: 1/1;
    margin: auto;
} */
#options{
    display: flex;
    flex-direction: column;
}
#options .option{
    border: 1px solid black;
    margin: 2px;

}
#options .option{
    display: grid;
}
#options .option *{
    margin: 1px;
}
#options .big.option{
    grid-template: 1fr/ 1fr 2fr;
}
#options .big.option button, 
#options .big.option input
{
    grid-column: 1 / span 2;
}
.doubleRange{
    position: relative;
    display: block;

    height: 22px;
    width: 100%;
}
.doubleRange .bar{
    position: absolute;
    height: 6px;
    width: 90%;
    top: 7px;
    left: 4%;
    right: 5%;

    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #e2e2e2;
}
.doubleRange .bar .colored{
    position: absolute;
    height: 6px;
    width: 100%;
    top: -2px;
    background-color: #0d6efd;
}
.doubleRange .rangeSlider{
    position: absolute;
    height: 16px;
    width: 16px;
    top: -7px;

    z-index: 100;
    background-color: #0d6efd;
    border-radius: 50%;
    cursor: pointer;
}
.doubleRange .rangeSlider:hover{
    box-shadow: 0 0 1.5px 1.5px #0d6efd;
}
.doubleRange .rangeSlider#minSlider{
    left: calc(0% - 8px);
}
.doubleRange .rangeSlider#maxSlider{
    left: calc(100% - 8px);
}
#table{
    overflow: hidden;
    display: grid;
    grid-template: 90% 10%/ 1fr;
    min-height: 80%;
}
.timeTable{
    /* font-size: 1.5vw; */
    height: 100%;
    border: 1px solid black;
}
.timeTable .tableHead{
    height: 10%;
    line-height: 200%;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.timeTable .tableHead span{
    vertical-align: middle;
}
.timeTable .tableKeys{
    height: 90%;
}
.timeTable .tableKeys .hours{
    width: 100%;
    height: 9%;
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
    position: relative;
}
.timeTable .tableKeys .hours span{
    position: absolute;
    top: calc(50% - (10px + 6 * ((100vw - 320px) / 680))* 3/4);
    right: 10px;
}
.timeTable .tableCol{
    height: 90%;
    position: relative;
    background-color: #ffffff;
    border-right: 1px solid black;
}
#table .input-group input{
    width: 3em;
    font-size: x-large;
}
#sectionModal .modal-body .col-1 span{
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;

    font-size: 30px;
}
/* #sectionModal .modal-body .col-1 span .next{
    right: 0;
}
#sectionModal .modal-body .col-1 span .next{
    left: 0;
} */
#container > div{
    margin: 2px;
    border: 1px solid black;
}
/* remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* form{
    display:inline  !important;
}
#lineNumber{
    text-align: center;
} */

/* .cardHover:hover{
    transform: scale(1.1,1.7);
    z-index: 1000;
}
.cardHover:hover *{
    font-size: 80%;
    transform: scale(1,0.8);
}
.cardHover:hover .cardHidden{
    display: block;
} */
.cardHover .cardHidden{
    display: none;
}
.cardHover:hover ::before ::before{
    transform: scale(1.5);
    z-index: 1001;
}
