<div id="container" class="row g-0 justify-content-center bg-dark" tabindex="-1">
        <div class="col col-md-11 col-lg-10 col-xl-9 row g-0 bg-white rounded-3">
            <div id="options" class=" col-12 col-md-4 row g-0 justify-content-center">
                <div class="big option border-bottom border-dark col-12 col-sm-8 col-md-12" title="search">

                    <div class="justify-content-center">
                        <h5 class="text-center">Search Course By</h5>
                    </div>
                    <select name="searchBy" class="form-select-sm">
                        <option value="lineNumber">Line Number</option>
                        <option value="faculty">Faculty</option>
                        <option value="department">Department</option>
                        <option value="symbol">Symbol</option>
                        <option value="name">Name</option>
                    </select>

                    <input type="text" name="searchval">
                    <button type="button" class="submit btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#coursesModal">Search</button>

                </div>
                <div class="option border-bottom border-dark col-12 col-sm-2 col-md-12" title="courses">
                    <button type="button" class="submit btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#coursesModal">View My Courses</button>
                </div>
                <div class="option border-bottom border-dark col-12 col-sm-2 col-md-12" title="generateSchedule">
                    <button type="button" class="submit btn-sm btn-primary">Generate Schedules</button>
                </div>
                <div class="option border-bottom border-dark col-12 col-sm-7 col-md-12" title="days">
                    <h5 class="text-center">Days:</h5>
                    <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="sun" name="sun"><label for="sun">Sun</label></li>
                        <li><input type="checkbox" id="mon" name="mon"><label for="mon">Mon</label></li>
                        <li><input type="checkbox" id="tue" name="tue"><label for="tue">Tue</label></li>
                        <li><input type="checkbox" id="wed" name="wed"><label for="wed">Wen</label></li>
                        <li><input type="checkbox" id="thu" name="thu"><label for="thu">Thu</label></li>
                    </ul>
                </div>
                <div class="option border-bottom border-dark col-12 col-sm-5 col-md-12" title="time">
                    <h5 class="text-center ">Hours:</h5>
                    <div class="input-group">
                        <span class="input-group-text">From</span>
                        <input name="min" type="text" class="form-control" value="8:30">
                        <span class="input-group-text">To</span>
                        <input name="max" type="text" class="form-control" value="18:30">
                    </div>
                    <span class="doubleRange">
                        <span class="bar">
                            <span class="colored"></span>
                            <span class="rangeSlider" id="minSlider"></span>
                            <span class="rangeSlider" id="maxSlider"></span>
                        </span>
                    </span>
                </div>
            </div>
            <div id="table" class="col-12 col-md-8 row g-0" tabindex="-1">
                <div class="cover hidden" title="table">
                    <div class="spinner-border text-primary m-auto" style="width: 4rem;height: 4rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="input-group col-12 flex-nowrap justify-content-center">
                    <div class="row g-0 w-100">
                        <div class="prev btn btn-lg btn-secondary col-6 col-sm-3 order-5 order-sm-first"> Prev</div>
                        <span class="input-group-text justify-content-center col-5 col-sm-3">Schedule No.</span>
                        <input class="col-5 col-sm-2" type="number">
                        <span class="input-group-text col-2 col-sm-1 justify-content-center">/ 1</span>
                        <div class="next btn btn-lg btn-secondary col-6 col-sm-3 order-last">Next </div>
                    </div>
                </div>
                <ul class="nav nav-tabs col-12 col-sm-6 order-1 order-sm-0 justify-content-center justify-content-sm-start"
                    id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="btn nav-link active py-0 h-100" data-bs-toggle="tab" data-bs-target="#all"
                            type="button">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn nav-link py-0 h-100" data-bs-toggle="tab" data-bs-target="#pinned"
                            type="button">Pinned</button>
                    </li>
                </ul>
                <div class="btn-toolbar col-12 col-sm-6 justify-content-between justify-content-sm-end">
                    <div class="btn-group">
                        <div id="printBtn" class="btn btn-sm btn-success"><i class="fas fa-print"></i> Print</div>
                        <div class="btn btn-sm btn-success"><i class="fas fa-thumbtack"></i> Pin</div>
                    </div>
                    <div class="btn-group">
                        <div class="btn btn-sm btn-danger"><i class="fas fa-thumbtack"></i> Unpin</div>
                        <div class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</div>
                    </div>
                </div>
                <div class="content col-12 order-last">
                    <div class="h-100 tab-content" id="myTabContent">
                        <div class="tab-pane fade h-100 show active" id="all">
                            <div class="timeTable row row-cols-6 g-0">
                                <div class="tableHead">#</div>
                                <div class="tableHead">Sun</div>
                                <div class="tableHead">Mon</div>
                                <div class="tableHead">Tue</div>
                                <div class="tableHead">Wed</div>
                                <div class="tableHead">Thu</div>
                                <div class="tableKeys">
                                    <div class="hours"><span>8:30 AM</span></div>
                                    <div class="hours"><span>9:30 AM</span></div>
                                    <div class="hours"><span>10:30 AM</span></div>
                                    <div class="hours"><span>11:30 AM</span></div>
                                    <div class="hours"><span>12:30 PM</span></div>
                                    <div class="hours"><span>1:30 PM</span></div>
                                    <div class="hours"><span>2:30 PM</span></div>
                                    <div class="hours"><span>3:30 PM</span></div>
                                    <div class="hours"><span>4:30 PM</span></div>
                                    <div class="hours"><span>5:30 PM</span></div>
                                    <div class="hours"><span>6:30 PM</span></div>
                                </div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade h-100 " id="pinned">
                            <div class="timeTable row row-cols-6 g-0">
                                <div class="tableHead">#</div>
                                <div class="tableHead">Sun</div>
                                <div class="tableHead">Mon</div>
                                <div class="tableHead">Tue</div>
                                <div class="tableHead">Wed</div>
                                <div class="tableHead">Thu</div>
                                <div class="tableKeys">
                                    <div class="hours"><span>8:30 AM</span></div>
                                    <div class="hours"><span>9:30 AM</span></div>
                                    <div class="hours"><span>10:30 AM</span></div>
                                    <div class="hours"><span>11:30 AM</span></div>
                                    <div class="hours"><span>12:30 PM</span></div>
                                    <div class="hours"><span>1:30 PM</span></div>
                                    <div class="hours"><span>2:30 PM</span></div>
                                    <div class="hours"><span>3:30 PM</span></div>
                                    <div class="hours"><span>4:30 PM</span></div>
                                    <div class="hours"><span>5:30 PM</span></div>
                                    <div class="hours"><span>6:30 PM</span></div>
                                </div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                                <div class="tableCol"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- this is a modal (like a popup window) to display courses (made using bootstrap) (courses are added using JS)-->
<div class="modal fade" tabindex="-1" id="coursesModal">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" tabindex="-1">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="sectionModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sections: </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" tabindex="-1">
                <div class="row g-0">
                    <div title="Previous Section" class="prev col-1 btn btn-light position-relative p-0"><span
                            class="position-absolute">
                            << /span>
                    </div>
                    <div class="col-10"></div>
                    <div title="Next Section" class="next col-1 btn btn-light position-relative p-0"><span
                            class="position-absolute">></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="dom-to-image.js"></script> -->
<script type="module" src="./js/script.js"></script>
<script src="./js/html2pdf.bundle.min.js"></script>