<%- include("partials/header")%>
    <H1 class="title">Hi! this is your University Schedule generator</H1>
    <div class="containter">
        <%if (user){%>
            <a href="/generator" class="con">Welcome your logged in ,press here to go to generator </a>
        <%}else{ %>    
            <div class="containter mid">

                <a href="/login"> <button class="btn btn-primary">Log in</button></a>
                <a href="/signup"> <button class="btn btn-secondary">Sign up</button></a>

            </div>
            <a href="/generator" class="con">continue without logging in </a>
        <%}%>
    </div>
    <script>


    </script>
    <script src="js/test.js"></script>
    <%- include("partials/footer")%>