<%- include("partials/header")%>
    <div class="row g-0 m-0 border-0 align-items-center position-absolute start-0 justify-content-center bg-warning vw-100" tabindex="-1" style="height: calc(100vh - 56px);top: 56px;overflow-x: hidden;">
        <div class="col col-md-11 col-lg-10 col-xl-9 row g-0 bg-white rounded-3" style="background-color: #ffffff65;">
            <div class="col-12 row g-0 my-5">
                <h1 class="col-12 text-center mb-3 px-3">Hi! This is Your University Schedule Generator</h1>
                <div class="col-12 d-flex flex-column align-items-center">
                    <%if (user){%>
                        <h4 class="text-center">
                            Welcome, <%= user.email.replace(/@.*/,"") %>
                        </h4>
                        <a href="/generator" class="btn btn-success">Start Generating</a>
                    <%}else{ %>
                        <a class="btn btn-primary w-25 my-1" href="/login">Log in</a>
                        <a class="btn btn-secondary w-25" href="/signup">Sign up</a>
                        <a class="" href="/generator">Continue As Guest</a>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer")%>