<%- include("partials/header")%>

    
    <% for( let index = 0; index < user.pinnedSchedule.length; index++ ) { %>
        <h1> <%-user.pinnedSchedule[index]  %> </h1>
        <br>
    <% } %>

<%- include("partials/footer")%>